* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    min-height: 3286px;
    margin: 0 auto;
    /*border: 1px solid red;*/
    box-shadow: 0 0 5px;
}

.page-header-title {
    margin-bottom: 15px;
    color: #ffffff;
    font-family: "Arial";
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
}


.page-header {
    padding: 50px;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    background-color: #445161;
    color: #fff;
    min-height: 223px;

}

.page-header-list {
    width: 460px;
    min-height: 127px;
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    position: relative;

}


.page-header-list-item {
    margin: 0;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    position: relative;
    list-style-type: none;
}


/*.page-header-list-item:before {
    content: "✓";
    display: block;
    width: 25px;
    height: 19px;
    background-size: cover;
    position: absolute;
    left: -1px;
    margin-top: 1px;
    font-weight: 600;
}*/


.page-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/check_icon.png);
    background-size: cover;
    position: absolute;
    left: -1px;
    top: 6px;
    margin-top: 1px;
    font-weight: 600;
    /*background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/

}



.page-header-wrp {
    float: left;
}

.page-header-img {
    float: right;
    display: inline-block;
    width: 469px;
    min-height: 214px;
}

.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main {
    /*border: 1px solid black;*/
    min-height: 2328px;
}

.about-product {
    /* margin: 50px; */
    /* height: 245px; */
    padding: 50px;
    box-sizing: border-box;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}


.product-title {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    margin-bottom: 30px;
}

.about-product-wrap {
    float: left;
    display: block;
}

.product-video {
    width: 430px;
    min-height: 245px;
    float: right;
}


.prodact-p {
    display: block;
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 649px;
    /* height: 63px; */
    /* margin-bottom: 20px; */
    margin: 0 0 20px 0;
}

.prodact-p:last-child {
    margin: 0;
}


.dignity {
    /* clear: both; */
    width: 100%;
    /* height: 370px; */
    background-color: #F2F2F2;
    padding: 50px 50px 20px 50px;
    box-sizing: border-box;

}

.dignity-wrap {
    /*margin: 30px 50px 30px 50px;*/
}

.dignity-title {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    /*padding-top: 50px;*/
    margin: 0 0 30px 0;


}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-list:first-child {
    width: 48%;
    float: left;
}


.dignity-list:last-child {
    width: 48%;
    float: right;
}

.dignity-item {
    /* margin-left: 36px; */
    color: #333333;
    font-family: "Arial";
    font-size: 17px;
    font-weight: 510;
    line-height: 24px;
    text-align: left;
    margin: 0 0 30px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    position: relative;

}


.dignity-list {
    list-style-type: none;
    box-sizing: border-box;

}

.dignity-item:before {
    content: "+";
    display: block;
    color: #ffffff;
    width: 32px;
    min-height: 32px;
    background-size: cover;
    position: absolute;
    /*left: -40px;*/
    left: 0;
    /* margin-top: 6px; */
    top: 5px;
    /* font-weight: 600; */
    line-height: 32px;
    background-color: #445161;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.screenshot {
    /* height: 387px; */
    /* margin: 50px; */
    padding: 50px 50px 20px 50px;
    box-sizing: border-box;
    float: left;
}

.screen-comment {
    float: right;
    height: 108px;
    width: 359px;
}

.screen-item {
    width: 49%;
    /* margin-bottom: 30px; */
    float: left;
    margin: 0 0 30px 0;
}

.screen-item:nth-child(2n) {
    margin-left: 10px;
}

.screen-title {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-align: center;
    margin-bottom: 25px;
}

.screen-comment {
    width: 63%;
    float: right;
}

.screen-img {
    width: 200px;
    min-height: 150px;
    float: left;
    margin: 0 10px 0 0;


}

.screen-comment-description {
    color: #445161;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    /* margin-top: -5px; */
    /* margin-left: -15px; */
    /* margin-bottom: 8px; */
    margin: 0 0 5px 0;
}


.screen-comment-p {
    color: #333333;
    font-family: "Arial";
    font-size: 15.5px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    text-align: left;
    /* margin-left: -15px; */
    margin: 0;
}

.reviews {
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    min-height: 440px;
    width: 1280px;
    background-color: #F2F2F2;
    clear: both;
}

.reviews-title {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0px 0px 35px 0px;
}

.reviews-comment {
    min-height: 121px;
    width: 483px;
    float: right;
    background-image: url(/img/bg_review.png);
    background-repeat: no-repeat;
    position: relative;

}

.rewiews-item-txt {
    min-height: 64px;
    width: 436px;
    color: #333333;
    font-family: "Italic";
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    position: absolute;
    top: 16px;
    left: 27px;

}

.rewiews-autor {
    color: #989898;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-top: 5px;
}

.reviews-item {
    min-height: 121px;
    width: 580px;
    float: right;
    margin-bottom: 30px;
    position: relative;
}

.reviews-item:nth-child(2n-1) {
    float: left;
}

.rewiews-autor {
    display: block;
}

/*
.reviews-img{
    width: 77px;
    height: 77px;
    background-image: url(/img/userpic.png);
    background-repeat: no-repeat;
    margin: 2px 2px 2px 2px;
}
*/

.reviews-item-buttom {
    margin-bottom: 25px;
}



.prices {
    width: 100%;
    min-height: 656px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.prices-title {
    width: 100%;
    color: #445161;
    text-align: center;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    display: block;
    margin: 0 0 0 0;
    box-sizing: border-box;

}

.prices-item {
    width: 25%;
    margin: 0 50px 0 0;
    box-sizing: border-box;
    border: 3px solid #445161;
    background-color: #445161;
    border-radius: 7px;
}


.price-standart {
    width: 300px;
    min-height: 306px;
}

.prices-ol {
    display: block;
    list-style-type: decimal;
    padding-left: 30px;
    background-color: #445161;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    line-height: 23px;
    margin: 15px 2px;
}

.prices-h3 {
    display: block;
    text-align: center;
    background-color: #445161;
    color: #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 14px;
}

.prices-span {
    height: 71px;
    min-width: 87px;
    font-size: 40px;
    font-weight: 400;
    display: block;
    text-align: center;
    font-family: "Arial";
    color: #445161;
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
    background-color: white;
}

.buy-button {
    display: block;
    width: 260px;
    height: 40px;
    box-sizing: border-box;
    margin: 5px 20px 20px 20px;
    border: 1px solid #445161;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 550;
    color: #445161;
    font-family: "Arial";

}


.main-footer {
    width: 100%;
    min-height: 530px;
    background-color: #445161;
}
